# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
*.check_cache
*.cmake
*.db
*.idb
*.iobj
*.ipch
*.ipdb
*.json
*.lastbuildstate
*.log
*.ninja
*.pdb
*.recipe
*.sqlite
*.tlog
*.txt
*.user
*.vcxproj
*dotfile
*.suo
*.vcxproj